<?xml version="1.0"?>
<!--Admin folder web.config-->
<configuration>
  <system.web>
    <authorization>
      <allow roles="admin"/> <!--allow user role admin to access this folder content only--> 
      <deny users="*"/> <!--deny all other user to access this folder content-->
    </authorization>
  </system.web>
</configuration>
